<footer class="footer-container">
    <div class="footer-content">
        <div class="footer-about">
            <p class="footer-title">关于本站</p>
            <p>1.Proudly published with <a href="https://ghost.org">Ghost</a>, Theme <a href="https://github.com/daqingv5/likernel">likernel</a></p>
            <p>2.鄂ICP备16008315号-1</p>
        </div>
        <div class="footer-links">
            <p class="footer-title">友情链接</p>
            <p>1.xxx</p>
            <p>2.xxx</p>
        </div>
    </div>
    <div class="footer-meta">
        <p>likernel &copy; {{date format="YYYY"}}</p> 
    </div>

</footer>