<div class="intro-card">
    <div class="intro-card-bg">

    </div>
    <div class="intro-card-avatar">
        <a class="intro-card-img" href="">
            <img src="{{asset "img/avatar.png"}}"/>
        </a>
        
        <a class="intro-card-author" href="">
            <h3>薛国庆</h3>
            <p>To me,the past is black and white.</p>
            <p>but the future is always color.</p>
        </a>
    </div>
    
    <div class="intro-card-social">
        <ul>
            <li>
                <a href="">
                    <i></i>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-social-wechat"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://github.com/daqingv5">
                    <i></i>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://weibo.com/u/2938300217/home?wvr=5">
                    <i></i>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-weibo"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <i></i>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-email"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>