{{!< default}}
<div class="banner">
    <h1>
        <small>{{@blog.description}}</small>
    </h1>
</div>
<div class="likernel-main-content">
    <div class="post-list">
        {{> "post-list"}}
    </div>
    <div class="function-card-list">
        {{> "function-card"}}
    </div>
</div>


